@use '../utils/border';

@mixin style {
  .v-divider {
    --border-padding-left: 0px;
    --border-padding-right: 0px;
    border-top: border.$border;
    opacity: 1;
    margin-left: calc(12px + var(--border-padding-left));
    margin-right: calc(12px + var(--border-padding-right));
  }
}
