/// @link https://developer.huawei.com/consumer/cn/doc/design-guides-V1/bottom-tab-0000001110467118-V1

@use '../settings/fonts';

@mixin style {
  .v-bottom-navigation {
    &__content {
      .v-btn {
        font-size: fonts.$caption-size;
        font-weight: fonts.$caption-weight;

        .v-icon {
          font-size: 20px;
          margin-bottom: 2px;
        }

        &--variant-text {
          opacity: 0.62;
        }

        &--active {
          opacity: 1;
        }

        &--disabled {
          opacity: 0.26;
        }
      }
    }
  }
}
