/// @link https://developer.huawei.com/consumer/cn/doc/design-guides-V1/bottom-tab-0000001110467118-V1

@mixin style {
  .v-bottom-navigation {
    &__content {
      .v-btn {
        font-size: 0.625rem;
        .v-icon {
          font-size: 20px;
          margin-bottom: 2px;
        }
        &--variant-text {
          opacity: 0.62;
        }
        &--active {
          opacity: 1;
        }
        &:not(:hover):not(:active).v-btn--active {
          & > .v-btn__overlay {
            // 移除激活时的背景
            opacity: 0;
          }
        }
        &--disabled {
          opacity: 0.26;
        }
      }
    }
  }
}
