@use '../settings/motions';

@mixin style {
  .v-btn {
    transition-property: box-shadow, transform, opacity, background;
    &--variant-text {
      & > .v-btn__overlay,
      & > .v-ripple__container {
        color: rgb(var(--v-theme-on-background));
      }
    }

    & > .v-btn__overlay,
    &[aria-haspopup='menu'][aria-expanded='true'] > .v-btn__overlay {
      opacity: 0;
      transition-duration: motions.$background-duration;
      transition-property: opacity;
      transition-timing-function: ease-in-out;
    }
    @supports selector(:focus-visible) {
      &::after {
        border: none;
        border-radius: inherit;
        outline: rgb(var(--v-theme-primary)) solid 2px;
        outline-offset: 2px;
      }
      &:focus-visible {
        &::after {
          opacity: 1;
        }
      }
    }
    @media (hover: hover) {
      &:hover {
        & > .v-btn__overlay {
          opacity: calc(var(--v-hover-opacity) * var(--v-theme-overlay-multiplier)) !important;
        }
      }
    }
    &:active {
      & > .v-btn__overlay {
        opacity: calc(var(--v-pressed-opacity) * var(--v-theme-overlay-multiplier)) !important;
      }
    }
  }
}
