/// @link https://developer.huawei.com/consumer/cn/doc/design-guides-V1/dialog-0000001156786991-V1
@use '../utils/border';
@use '../variables/dimensions';

@mixin style {
  .v-dialog {
    > .v-overlay__content {
      max-height: 80svh;
      max-width: calc(100% - 32px);
      backdrop-filter: blur(dimensions.$radius-blur);
      border-radius: dimensions.$radius-dialog-custom;
      margin: 16px;
      width: 420px;

      > .v-card,
      > form > .v-card {
        border-radius: dimensions.$radius-dialog-custom;
        background-color: rgba(var(--v-theme-surface), 0.85);
        box-shadow: none;
        overflow-y: hidden;

        > .v-card-item {
          // 根据设计规范，这里应该是56px，但是这会导致很多场景下间距很难看，所以元素底部使用8px
          padding-inline: 24px;
          padding-block: 12px 8px;

          // height: 56px;
        }

        > .v-card-text {
          padding: 0 24px;
        }

        > .v-card-actions {
          gap: 8px;
          padding: 8px 16px 16px;

          .v-btn {
            height: 40px;
            flex-basis: 0;
            flex-grow: 1;

            // 按钮分割线
            &::before {
              content: '';
              position: absolute;
              bottom: 6px;
              top: 6px;
              right: -4.25px;
              width: 0;

              // 用边框解决0.5px导致的渲染问题
              border-right: border.$border;
            }

            &:last-child::before {
              border-right-width: 0;
            }
          }
        }
      }

      @media (width <= 600px) {
        bottom: 0;
      }
    }

    &--fullscreen {
      > .v-overlay__content {
        border-radius: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        backdrop-filter: unset;

        > .v-card,
        > form > .v-card {
          border-radius: 0;
          background-color: rgb(var(--v-theme-background));
        }
      }
    }
  }
}
