@use '../settings/motions';
@use '../settings/dimensions';

@mixin style {
  .v-input--density-default {
    .v-field--variant-underlined {
      --v-field-padding-top: 12px;
      --v-field-padding-bottom: 12px;
    }
  }

  .v-field {
    &__input {
      /* padding-top: 12px;
      padding-bottom: 12px; */
    }

    &__overlay {
      top: var(--v-input-padding-top);
      height: auto;
      bottom: 0;
      transition-duration: motions.$background-duration;
      opacity: 0;
      background: rgb(var(--v-theme-on-background));
      border-radius: dimensions.$radius-sm;
    }

    &:active > .v-field__overlay {
      opacity: calc(var(--v-pressed-opacity) * var(--v-theme-overlay-multiplier));
    }

    &--variant-filled .v-field__outline::after,
    &--variant-underlined .v-field__outline::after {
      content: none;
    }

    /* &--variant-underlined {
      .v-label.v-field-label--floating {
        transform: translateY(-24px);
      }
    } */
  }
}
