@mixin style {
  .app-row {
    --row-columns: 4;
    --row-margin: 16px;
    --row-gutter: 8px;

    display: grid;
    margin-left: var(--row-margin);
    margin-right: var(--row-margin);
    column-gap: var(--row-gutter);
    grid-template-columns: repeat(var(--row-columns), 1fr);

    @media (width >= 600px) {
      --row-columns: 8;
      --row-margin: 24px;
      --row-gutter: 12px;
    }

    @media (width >= 840px) {
      --row-columns: 12;
      --row-margin: 32px;
      --row-gutter: 16px;
    }

    @media (width >= 1440px) {
      --row-columns: 12;
      --row-margin: 40px;
      --row-gutter: 16px;
    }
  }

  .app-container {
    &__content {
      grid-column: 1/5;

      @media (width >= 600px) {
        grid-column: 2/8;
      }

      @media (width >= 840px) {
        grid-column: 3/11;
      }

      @media (width >= 1440px) {
        grid-column: 3/11;
      }
    }

    &--fluid {
      display: block;
    }
  }
}
