/// @link https://developer.huawei.com/consumer/cn/doc/design-guides-V1/list-0000001110467124-V1

@use '../variables/motions';
@use '../variables/dimensions';
@use '../utils/border';
@use '../tools';

@mixin style {
  .app-list-category {
    border-radius: inherit;
    &__items {
      padding-block: 4px;
      background-color: rgba(var(--v-theme-surface));
      border-radius: inherit;
    }

    .v-list-subheader {
      background-color: rgb(var(--v-theme-background));
    }
  }

  .app-list {
    &--carded {
      .v-list-item {
        &__overlay {
          margin-inline: 4px;
        }
      }
    }
  }

  .v-list-item {
    @include tools.states('.v-list-item__overlay', false);

    &:not(v-list-item--nav) {
      padding-inline: 12px;
    }
    &__overlay {
      transition-duration: motions.$background-duration;
    }

    /// 文档中的规格（鸿蒙设计v2的参数，v1太麻烦了）
    /// 当列表为单行文本，且没有左侧元素时，列表高度默认为 48vp
    /// 当列表为单行文本，左侧有元素且小于 40vp 时，列表高度默认为 56vp
    /// 当列表为双行文本，列表高度默认为 64vp
    /// 当列表为三行文本，列表默认高度为 96vp
    ///
    /// 根据规格推算出，图片的上下边距为 16px，文字的上下边距为12px，可以符合第1种和第2种情况，剩下的不管了。
    &--density-default:not(.v-list-item--one-line, .v-list-item--two-line, .v-list-item--three-line) {
      padding-top: 0;
      padding-bottom: 0;

      .v-list-item__prepend {
        padding-top: 16px;
        padding-bottom: 16px;
      }

      .v-list-item__content {
        padding-top: 12px;
        padding-bottom: 12px;
      }
    }

    &__append {
      // 鸿蒙风格的右箭头较细，宽度比24px小
      > .v-icon {
        width: auto;
        min-width: 0;
      }
    }
  }
}
