@use '../variables/dimensions';
@use '../tools';

@mixin style {
  .v-tabs {
    height: initial;


    .v-slide-group__container {
      padding: 4px;
    }

    // 需要两个.v-tab，因为vuetify实现的就是那样的，否则会被默认样式顶掉
    .v-tab.v-tab {
      padding: 0 12px;
      min-width: 72px;

      .v-tab__slider {
        bottom: -4px;
      }

      & {
        outline-offset: -2px;
      }
    }

    .v-slide-group {
      &__next,
      &__prev {
        min-width: 24px;
        flex: 0 1 24px;
        border-radius: dimensions.$radius-md;

        // @include tools.states('.v-btn__overlay', false);
      }
    }
  }
}
