@use '../settings/fonts';
@use '../settings/motions';

@mixin style {
  .v-toolbar {
    &__content {
      padding-left: 16px;
      padding-right: 16px;
      & > .v-btn {
        &:last-child {
          margin-inline-end: -4px;
        }

        &:first-child {
          margin-inline-start: -4px;
        }
      }
      & > .v-toolbar-title {
        margin-inline-start: 8px;
        margin-inline-end: 8px;
      }
    }
  }
  .v-toolbar-title {
    font-size: fonts.$headline8-size;
    font-weight: fonts.$headline8-weight;
    letter-spacing: 0;
    line-height: initial;
    transition-duration: motions.$duration-movement-some;
    transition-property: margin, padding;
    transition-timing-function: motions.$function-standard;
  }
}
