@use '../variables/fonts';
@use '../variables/motions';

@mixin style {
  .v-toolbar {
    &__content {
      padding-left: 16px;
      padding-right: 16px;

      > .v-btn {
        &:last-child {
          margin-inline-end: -4px;
        }

        &:first-child {
          margin-inline-start: -4px;
        }
      }

      > .v-toolbar-title {
        margin-inline: 8px;
      }
    }
  }

  .v-toolbar-title {
    font-size: fonts.$headline8-size;
    font-weight: fonts.$headline8-weight;
    transition-duration: motions.$duration-movement-some;
    transition-timing-function: motions.$function-standard;
  }
}
