dist
dev-dist
coverage

# Tauri
/src-tauri/target
/src-tauri/gen/schemas

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/public
yarn.lock
pnpm-lock.yaml

/CODE_OF_CONDUCT.md
/CODE_OF_CONDUCT.zh.md
