$border-width: 0.5px;
$border-margin: 16px;
$border-color: rgba(var(--v-border-color), var(--v-border-opacity));
$border: #{$border-width} solid #{$border-color};

@mixin style {
  /* &,
  .v-theme--light,
  .v-theme--dark {
    @media screen and (resolution <= 2dppx) {
      --v-border-opacity: 0.1 !important;
    }
  } */

  /* .border-t {
    border-top: $border;
  }

  .border-b {
    border-bottom: $border;
  }

  .border {
    border-width: $border-width !important;
  } */
}
