@use '../settings/dimensions' as *;

@mixin style {
  --radius-card: #{$radius-card};
  &,
  .v-theme--light,
  .v-theme--dark {
    @media screen and (max-resolution: 2dppx) {
      --v-border-opacity: 0.1 !important;
    }
  }

  .rounded-xs {
    border-radius: $radius-xs !important;
  }
  .rounded-sm {
    border-radius: $radius-sm !important;
  }
  .rounded-md {
    border-radius: $radius-md !important;
  }
  .rounded-lg {
    border-radius: $radius-lg !important;
  }
  .rounded-xl {
    border-radius: $radius-xl !important;
  }
}
