@use '../variables/motions' as *;

@mixin page-transition($enter: true) {
  //始终使栈顶页面处于最上层
  &-#{if($enter, 'enter-active', 'leave-active')} {
    z-index: 2;
  }

  // 偏移状态
  &-leave-from,
  &-leave-to,
  &-enter-from,
  &-enter-to {
    transform: translateX(var(--page-mask-position-x));
    > .page {
      transform: translateX(calc(var(--page-position-x) - var(--page-mask-position-x)));
    }
  }

  &-enter-active,
  &-leave-active {
    > .page {
      background-color: rgb(var(--v-theme-background));
    }
    > .page,
    & {
      transition: $page-property $page-durning $page-function;
    }
  }

  &-#{if(not $enter, 'enter-active', 'leave-active')} {
    &::before {
      transition: background-color $page-durning $page-function;
      content: '';
      position: absolute;
      inset: 0;
      z-index: 999;
    }
  }

  &-enter-from,
  &-leave-from {
    > .page,
    &,
    &::before {
      transition: none;
    }
  }

  // 偏移状态
  // 底部页面
  &-#{if(not $enter, 'enter-from', 'leave-to')} {
    --page-position-x: #{$page-below-offset};
    --page-mask-position-x: 0px;

    &::before {
      background-color: rgb(0 0 0 / 10%);
    }
  }

  // 顶部页面
  &-#{if($enter, 'enter-from', 'leave-to')} {
    --page-position-x: #{$page-above-offset};
    --page-mask-position-x: 100%;
  }

  // 正常状态
  &-enter-to,
  &-leave-from {
    --page-position-x: 0px;
    --page-mask-position-x: 0px;

    &::before {
      background-color: transparent;
    }
  }
}

@mixin style {
  .page-enter-transition {
    @include page-transition($enter: true);
  }

  .page-leave-transition {
    @include page-transition($enter: false);
  }

  .dialog-transition {
    &-enter-active {
      transition-timing-function: $dialog-enter-function !important;
    }

    &-leave-active {
      transition: $dialog-leave-function !important;
    }

    &-enter-active,
    &-leave-active {
      transition-duration: $dialog-duration !important;
      transition-property: $dialog-property !important;
    }

    &-enter-from,
    &-leave-to {
      transform: scale(0.9);
      opacity: 0;
    }
  }
}
