@use '../settings/motions' as *;

@mixin page-transition($enter: true) {
  // 偏移状态
  &-enter-to,
  &-leave-from,
  &-enter-from {
    transform: translateX(var(--page-mask-position-x));
    & > .v-layout {
      transform: translateX(calc(var(--page-position-x) - var(--page-mask-position-x)));
    }
  }

  &-leave-to {
    transform: translateX(var(--page-position-x));
    & > .v-layout {
      transform: translateX(0);
    }
  }

  &-enter-active,
  &-leave-active {
    background-color: rgb(var(--v-theme-background));
    & > .v-layout,
    & {
      transition: $page-property $page-durning $page-function;
      @media (prefers-reduced-motion) {
        transition: none;
      }
    }
  }

  &-leave-from,
  &-enter-from {
    & > .v-layout,
    & {
      transition: none;
    }
  }

  &-#{if(not $enter, 'enter-active', 'leave-active')} {
    &::before {
      transition: background-color $page-durning $page-function;
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 999;
      @media (prefers-reduced-motion) {
        transition: none;
      }
    }
  }

  // 左侧带有scrim页面
  &-#{if(not $enter, 'enter-from', 'leave-to')} {
    --page-position-x: -#{$page-below-offset};
    --page-mask-position-x: -100%;
    &::before {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &-#{if($enter, 'enter-from', 'leave-to')} {
    --page-position-x: #{$page-above-offset};
    --page-mask-position-x: 100%;
  }

  // 正常状态
  &-enter-to,
  &-leave-from {
    --page-position-x: 0;
    --page-mask-position-x: 0;
    &::before {
      background-color: transparent;
    }
  }
}

@mixin translate-x-keyframes($name, $from, $to) {
  @keyframes #{$name} {
    0% {
      transform: translateX($from);
    }
    100% {
      transform: translateX($to);
    }
  }
}
@include translate-x-keyframes('page-enter-enter-page-animation', 100%, 0);
@include translate-x-keyframes('page-enter-enter-layout-animation', -75%, 0);
@include translate-x-keyframes('page-enter-leave-page-animation', 0, -25%);

@include translate-x-keyframes('page-leave-enter-page-animation', -100%, 0);
@include translate-x-keyframes('page-leave-enter-layout-animation', 75%, 0);
@include translate-x-keyframes('page-leave-leave-page-animation', 0, 25%);
@keyframes page-scrim-animation {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

@mixin page-animation($enter, $enter-page-animation, $enter-layout-animation, $leave-page-animation) {
  &-enter-active,
  &-enter-active > .v-layout,
  &-leave-active,
  &-#{if($enter,'leave-active','enter-active')}::before {
    animation-duration: $page-durning;
    animation-timing-function: $page-function;
    @media (prefers-reduced-motion) {
      animation: none;
    }
  }

  &-enter-active {
    animation-name: #{$enter-page-animation};
    background-color: rgb(var(--v-theme-background));
    & > .v-layout {
      animation-name: #{$enter-layout-animation};
    }
  }
  &-leave-active {
    animation-name: #{$leave-page-animation};
    background-color: rgb(var(--v-theme-background));
  }
  &-#{if($enter,'leave-active','enter-active')} {
    &::before {
      content: '';
      animation-name: page-scrim-animation;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 999;
      animation-direction: #{if($enter, normal, reverse)};
    }
  }
}

@mixin style {
  .page-enter-transition {
    @include page-transition($enter: true);
  }
  .page-leave-transition {
    @include page-transition($enter: false);
  }

  .page-enter-animation {
    @include page-animation(
      true,
      'page-enter-enter-page-animation',
      'page-enter-enter-layout-animation',
      'page-enter-leave-page-animation'
    );
  }

  .page-leave-animation {
    @include page-animation(
      false,
      'page-leave-enter-page-animation',
      'page-leave-enter-layout-animation',
      'page-leave-leave-page-animation'
    );
  }

  .dialog-transition {
    &-enter-active {
      transition-timing-function: $dialog-enter-function !important;
    }
    &-leave-active {
      transition: $dialog-leave-function !important;
    }

    &-enter-active,
    &-leave-active {
      transition-duration: $dialog-duration !important;
      transition-property: $dialog-property !important;
    }

    &-enter-from,
    &-leave-to {
      transform: scale(0.9);
      opacity: 0;
    }
  }

  // 无动画效果
  @media (prefers-reduced-motion) {
    .dialog-transition-enter-active,
    .dialog-transition-leave-active,
    .v-overlay__scrim,
    .slide-y-transition-enter-active,
    .slide-y-transition-leave-active,
    * {
      transition: none !important;
    }
  }
}
