@import url(./JetBrains-Mono.scss);
.noActivatedOverlay {
  --v-activated-opacity: 0 !important; // 活动时透明
}

.noActivatedTransparency {
  opacity: 1 !important;
}

.prependIconPrimaryItem {
  .v-list-item__prepend {
    .v-icon {
      color: rgb(var(--v-theme-primary));
      opacity: 1;
    }
  }
}

.centerSpace {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.harmony {
  --v-border-opacity: 0.2;
  --harmony-blur-radius: 20px;
  .v-list {
    border-radius: 16px;
    .v-list-item {
      border-radius: 14px;
    }
  }
  .v-list--nav {
    padding-inline: 8px !important;
  }
  .v-card {
    border-radius: 16px;
  }
  .v-navigation-drawer--left {
    border-right-width: 0;
  }
  .v-menu {
    > .v-overlay__content {
      border-radius: 20px;
      backdrop-filter: blur(var(--harmony-blur-radius));
      > .v-list {
        border-radius: 16px;
        box-shadow: 0px 10px 50px rgba(0, 0, 31, 15%);
        background-color: rgba(var(--v-theme-surface), 0.9) !important;
      }
    }

    .slide-y-transition-enter-active,
    .slide-y-transition-leave-active {
      transition-duration: 0.1s !important;
    }
  }

  :not(.v-list--nav) {
    > .v-list-item {
      &::before {
        content: "";
        position: absolute;
        bottom: 0.25px;
        left: 72px;
        right: 16px;
        height: 0px;
        // 用边框解决0.5px导致的渲染问题
        border-bottom: 0.5px solid rgba(var(--v-border-color), var(--v-border-opacity));
      }
      &:last-child::before {
        border-bottom-width: 0;
      }
    }
  }

  .v-dialog > .v-overlay__content {
    backdrop-filter: blur(var(--harmony-blur-radius));
    border-radius: 20px;
    > .v-card {
      border-radius: 20px;
      background-color: rgba(var(--v-theme-surface), 0.9) !important;
      .v-card-actions {
        padding: 4px 12px 12px 12px;
        .v-btn {
          width: 0;
          flex: 1;
          margin: 4px;
        }
      }
    }
    @media (max-width: 600px) {
      bottom: 0;
    }
  }

  .v-tabs {
    padding: 4px 4px 0px 4px;
    .v-tab {
      height: 100%;
      border-top-left-radius: 14px;
      border-top-right-radius: 14px;
    }
  }
}
