@import url(./JetBrains-Mono.scss);
.noActivatedOverlay {
  --v-activated-opacity: 0 !important; // 活动时透明
}

.noActivatedTransparency {
  opacity: 1 !important;
}

.prependIconPrimaryItem {
  .v-list-item__prepend {
    .v-icon {
      color: rgb(var(--v-theme-primary));
      opacity: 1;
    }
  }
}

.centerSpace {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.harmony {
  --v-border-opacity: 0.2;
  .v-list {
    border-radius: 16px;
    .v-list-item {
      border-radius: 14px;
    }
  }
  .v-list--nav {
    padding-inline: 8px !important;
  }
  .v-menu > .v-overlay__content > .v-list {
    border-radius: 16px;
  }
  .v-card {
    border-radius: 16px;
  }
  .v-navigation-drawer--left {
    border-right-width: 0;
  }
  .v-menu > .v-overlay__content > .v-list {
    box-shadow: 0px 10px 50px rgba(0, 0, 31, 15%);
  }
  .slide-y-transition-enter-active,
  .slide-y-transition-leave-active {
    transition-duration: 0.1s !important;
  }
  :not(.v-list--nav) {
    > .v-list-item:before {
      content: "";
      position: absolute;
      top: 0;
      left: 16px;
      right: 16px;
      height: 1px;
      // 用边框解决0.5px导致的渲染问题
      border-bottom: 0.5px solid rgba(var(--v-border-color), var(--v-border-opacity));
      width: calc(100% - 32px);
    }
    &.v-list > :first-child::before {
      border-bottom-width: 0;
    }
  }
}
