:root,
.v-theme--light,
.v-theme--dark {
  // --v-activated-opacity: 0 !important; // 活动时透明
  --swiper-theme-color: rgb(var(--v-theme-primary)) !important; // swiper主题色跟随主题
}

html {
  height: 100%;
  width: 100%;
  overflow-y: hidden !important;
  // 以下代码的 `html`仅用作增加选择器强度
  // 去除一些控件的背景色
  .v-card--variant-outlined {
    border-color: rgba(var(--v-border-color), var(--v-border-opacity));
  }
  .v-overlay__scrim {
    background: black;
  }
  // 修复底部单词长度不同时按钮宽度不同
  .v-bottom-navigation--grow .v-bottom-navigation__content > .v-btn {
    width: 0;
  }
  .v-progress-circular--indeterminate .v-progress-circular__overlay {
    animation:
      progress-circular-dash 1.5s ease-in-out infinite,
      progress-circular-rotate 15s linear infinite;
  }
  .v-progress-circular__underlay {
    stroke: none;
  }
  .v-main {
    transition-property: width, height, margin, padding;
  }
}
