html {
  --swiper-theme-color: rgb(var(--v-theme-primary)) !important; // swiper主题色跟随主题
  height: 100%;
  width: 100%;
  overflow-y: hidden !important;
  font-family: system-ui, sans-serif;

  // 以下代码的 `html`仅用作增加选择器强度
  // 去除一些控件的背景色
  .v-card {
    &--variant-outlined {
      border-color: rgba(var(--v-border-color), var(--v-border-opacity));
    }
  }

  .v-overlay {
    &__scrim {
      background: black;
    }
  }

  // 修复底部单词长度不同时按钮宽度不同
  .v-bottom-navigation {
    &--grow .v-bottom-navigation__content > .v-btn {
      width: 0;
    }
  }

  .v-progress-circular {
    // 修复进度条转圈太快
    &--indeterminate .v-progress-circular__overlay {
      animation:
        progress-circular-dash 1.5s ease-in-out infinite,
        progress-circular-rotate 15s linear infinite;
    }

    &__underlay {
      stroke: none;
    }
  }

  code,
  kbd,
  pre,
  samp {
    font-family: monospace;
  }

  .v-tooltip {
    & > .v-overlay__content {
      background: rgba(var(--v-theme-surface-variant), 0.8);
    }
  }

  .v-toolbar__content {
    & > .v-btn {
      &:last-child {
        margin-inline-end: 8px;
      }

      &:first-child {
        margin-inline-start: 8px;
      }
    }
  }
}

.harmony {
  // 用边框解决0.5px导致的渲染问题
  --harmony-border-width: 0.5px;
  --harmony-border-margin: 16px;
  --harmony-border: 0.5px solid rgba(var(--v-border-color), var(--v-border-opacity));
  --harmony-blur-radius: 20px;
  --harmony-blur-radius-tooltip: 4px;
  --harmony-background-transition-duration: 150ms;
  &,
  .v-theme--light,
  .v-theme--dark {
    @media screen and (max-resolution: 2dppx) {
      --v-border-opacity: 0.1 !important;
    }
  }

  .v-toolbar {
    &__content {
      padding-left: 12px;
      padding-right: 12px;
      & > .v-btn {
        &:last-child {
          margin-inline-end: 0;
        }

        &:first-child {
          margin-inline-start: 0;
        }
      }
    }
  }

  // List
  .v-list {
    --indent-padding-left: 40px;
    --indent-padding-right: 0px;
    &--rounded {
      border-radius: 16px;
    }
    &--nav {
      padding-inline: 8px !important;
    }
  }
  .v-list-item,
  .v-list-subheader {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      bottom: -0.25px;
      left: calc(12px + var(--indent-padding-left));
      right: calc(12px + var(--indent-padding-right));
      height: 0px;
      border-bottom: var(--harmony-border);
    }
    &:last-child::before {
      border-bottom-width: 0;
    }
  }
  .v-list-subheader {
    --indent-padding-left: 0px;
    --indent-padding-right: 0px;
    padding-inline-start: calc(12px + var(--indent-padding-left)) !important;
    padding-inline-end: calc(12px + var(--indent-padding-right));
  }

  .v-list-item {
    &:not(&--nav) {
      padding-inline: 12px;
    }
    &--rounded {
      border-radius: 14px;
    }
    &--nav {
      &::before {
        border-bottom-width: 0;
      }
    }
    &__prepend {
      .v-icon {
        opacity: 1;
      }
    }
    & > .v-list-item__overlay {
      transition-duration: var(--harmony-background-transition-duration);
    }
    // 菜单中--active需要背景
    &:not(&--active)[aria-haspopup='menu'][aria-expanded='true'] {
      & > .v-list-item__overlay {
        opacity: 0;
      }
    }
    &:not(&--active):hover {
      .v-list-item__overlay {
        opacity: calc(var(--v-hover-opacity) * var(--v-theme-overlay-multiplier)) !important;
      }
    }
    &:not(&--active):active {
      & > .v-list-item__overlay {
        opacity: calc(var(--v-pressed-opacity) * var(--v-theme-overlay-multiplier)) !important;
      }
    }
  }

  // Card
  .v-card {
    border-radius: 16px;
  }
  // Navigation Drawer
  .v-navigation-drawer {
    &--left {
      border-right-width: 0;
      &::before {
        content: '';
        position: absolute;
        right: 0;
        top: var(--harmony-border-margin);
        bottom: var(--harmony-border-margin);
        // border-right: var(--harmony-border);
        border-width: var(--harmony-border-width);
        z-index: 999;
      }
    }
  }

  // Menu
  .v-menu {
    > .v-overlay__content {
      border-radius: 20px;
      backdrop-filter: blur(var(--harmony-blur-radius));
      > .v-list {
        border-radius: 16px;
        box-shadow: 0px 10px 50px rgba(0, 0, 31, 15%);
        background-color: rgba(var(--v-theme-surface), 0.85) !important;
        --indent-padding-left: 0px;
      }
    }

    .slide-y-transition-enter-active,
    .slide-y-transition-leave-active {
      transition-duration: 0.1s !important;
    }
  }

  .v-tooltip {
    > .v-overlay__content {
      backdrop-filter: blur(var(--harmony-blur-radius-tooltip));
      // backdrop-filter: blur(var(--harmony-blur-radius));
    }
  }

  .v-dialog {
    & > .v-overlay__content {
      max-height: 80svh;
      backdrop-filter: blur(var(--harmony-blur-radius));
      border-radius: 24px;
      margin: 16px;
      max-width: calc(100% - 32px);
      > .v-card {
        border-radius: 24px;
        background-color: rgba(var(--v-theme-surface), 0.85) !important;
        box-shadow: none;
        .v-card-actions {
          padding: 4px 12px 12px 12px;
          .v-btn {
            width: 0;
            flex: 1;
            margin: 4px;
            &::before {
              content: '';
              position: absolute;
              bottom: 6px;
              top: 6px;
              right: -4.25px;
              width: 0px;
              // 用边框解决0.5px导致的渲染问题
              border-right: var(--harmony-border);
            }
            &:last-child::before {
              border-right-width: 0;
            }
          }
        }
        .v-card-text {
          padding-top: 4px;
          padding-bottom: 4px;
        }
      }
      @media (max-width: 600px) {
        bottom: 0;
      }
    }
  }

  .v-tabs {
    padding: 4px 4px 0px 4px;
    .v-tab {
      height: 100%;
      border-top-left-radius: 14px;
      border-top-right-radius: 14px;
      padding: 0 12px;
      min-width: 72px;
    }
  }
  .v-overlay {
    &__scrim {
      opacity: 0.2;
    }
  }
  .v-btn {
    transition-property: box-shadow, transform, opacity, background;
    &--variant-text {
      .v-btn__overlay,
      .v-ripple__container {
        color: rgb(var(--v-theme-on-background));
      }
    }
    // 显示菜单时不显示按钮的背景
    &[aria-haspopup='menu'][aria-expanded='true'] {
      & > .v-btn__overlay {
        opacity: 0;
      }
    }
    &:hover {
      .v-btn__overlay {
        opacity: calc(var(--v-hover-opacity) * var(--v-theme-overlay-multiplier)) !important;
      }
    }
    &:active {
      & > .v-btn__overlay {
        opacity: calc(var(--v-pressed-opacity) * var(--v-theme-overlay-multiplier)) !important;
      }
    }
    .v-btn__overlay {
      transition: opacity var(--harmony-background-transition-duration) ease-in-out;
      // transition-duration: var(--harmony-background-transition-duration) !important;
    }
  }
  .v-alert {
    border-radius: 16px;
  }
  .v-bottom-navigation {
    .v-btn {
      &--variant-text {
        opacity: 0.62;
      }
      &--active {
        opacity: 1;
        & > .v-btn__overlay {
          // 移除激活时的背景
          opacity: 0;
        }
      }
      &--disabled {
        opacity: 0.26;
      }
    }
  }

  .v-slide-group {
    &__next,
    &__prev {
      min-width: 24px;
      flex: 0 1 24px;
      border-radius: 16px;
      &:hover {
        background-color: rgba(
          var(--v-theme-on-surface),
          calc(var(--v-hover-opacity) * var(--v-theme-overlay-multiplier))
        );
      }
      &:active {
        background-color: rgba(
          var(--v-theme-on-surface),
          calc(var(--v-pressed-opacity) * var(--v-theme-overlay-multiplier))
        );
      }
    }
  }
  .border-t {
    border-top: var(--harmony-border);
  }
  .border-b {
    border-bottom: var(--harmony-border);
  }
  .border {
    border-width: var(--harmony-border-width) !important;
  }
  .v-divider {
    --indent-padding-left: 0px;
    --indent-padding-right: 0px;
    border-top: var(--harmony-border);
    opacity: 1;
    margin-left: calc(16px + var(--indent-padding-left));
    margin-right: calc(16px + var(--indent-padding-right));
  }

  .v-list-item__prepend {
    & > .v-badge ~ .v-list-item__spacer,
    & > .v-icon ~ .v-list-item__spacer,
    & > .v-tooltip ~ .v-list-item__spacer {
      width: 16px;
    }
  }
  .v-skeleton-loader {
    &__avatar {
      $height: 24px;
      $width: 24px;
      max-height: $height;
      min-height: $height;
      height: $height;
      max-width: $width;
      min-width: $width;
      width: $width;
    }
  }
  .v-system-bar .v-icon {
    opacity: 1;
  }
}
