html {
  --swiper-theme-color: rgb(var(--v-theme-primary)) !important; // swiper主题色跟随主题
  height: 100%;
  width: 100%;
  overflow-y: hidden !important;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  // 以下代码的 `html`仅用作增加选择器强度
  // 去除一些控件的背景色
  .v-card--variant-outlined {
    border-color: rgba(var(--v-border-color), var(--v-border-opacity));
  }
  .v-overlay__scrim {
    background: black;
  }
  // 修复底部单词长度不同时按钮宽度不同
  .v-bottom-navigation--grow .v-bottom-navigation__content > .v-btn {
    width: 0;
  }
  // 修复进度条转圈太快
  .v-progress-circular--indeterminate .v-progress-circular__overlay {
    animation:
      progress-circular-dash 1.5s ease-in-out infinite,
      progress-circular-rotate 15s linear infinite;
  }
  .v-progress-circular__underlay {
    stroke: none;
  }
  .v-main {
    transition-property: width, height, margin, padding;
  }

  code,
  kbd,
  pre,
  samp {
    font-family: 'JetBrains Mono', 'JetBrains Mono Online', monospace;
  }

  .v-tooltip > .v-overlay__content {
    background: rgba(var(--v-theme-surface-variant), 0.8);
  }

  .v-toolbar__content {
    & > .v-btn {
      &:last-child {
        margin-inline-end: 8px;
      }
      &:first-child {
        margin-inline-start: 8px;
      }
    }
  }
}
