/// Configures SASS variables and Vuetify overwrites
///
/// @link https://vuetifyjs.com/features/sass-variables/`

$border-radius-root: var(--border-radius-root, 0);

@forward 'vuetify/settings'
  with(
    // 删除无用工具类
    $utilities:
      (
        'white-space': false,
        'text-align': false,
        'text-decoration': false,
        'text-mono': false,
        'text-opacity': false,
        'text-overflow': false,
        'text-transform': false,
        'order': false,
        'overflow-wrap': false,
        'overflow-x': false,
        'overflow-y': false,
        'overflow': false,
        'justify-content': false,
        'flex-direction': false,
        'flex-grow': false,
        'flex-shrink': false,
        'flex-wrap': false,
        'flex': false,
        'float-ltr': false,
        'float-rtl': false,
        'float': false,
        'display': false,
        'align-content': false,
        'align-items': false,
        'align-self': false,
        'font-italic': false,
        'font-weight': false,
        'height': false,
        'height-screen': false,
        'width': false,
        'gap': false,
        'gap-row': false,
        'gap-column': false,
        'margin-bottom': false,
        'margin-end': false,
        'margin-left': false,
        'margin-right': false,
        'margin-start': false,
        'margin-top': false,
        'margin-x': false,
        'margin-y': false,
        'margin': false,
        'negative-margin-bottom': false,
        'negative-margin-end': false,
        'negative-margin-left': false,
        'negative-margin-right': false,
        'negative-margin-start': false,
        'negative-margin-top': false,
        'negative-margin-x': false,
        'negative-margin-y': false,
        'negative-margin': false,
        'padding-bottom': false,
        'padding-end': false,
        'padding-left': false,
        'padding-right': false,
        'padding-start': false,
        'padding-top': false,
        'padding-x': false,
        'padding-y': false,
        'padding': false
      ),
    $color-pack: false,
    // 解决加载时可能会播放下沉动画
    $main-transition: none,
    $body-font-family: (ui-sans-serif, sans-serif, system-ui),
    $typography: (
      'caption': (
        size: var(--typography-caption-size, 0.75rem),
      )
    ),
    // Border
    $border-width-root: var(--border-width-root, thin),
    $border-radius-root: $border-radius-root,
    $rounded: (
      'sm': var(--border-radius-sm, 0px),
      'md': var(--border-radius-md, 0px),
      'lg': var(--border-radius-lg, 0px),
      'xl': var(--border-radius-xl, 0px),
      'shaped': var(--border-radius-shaped, 0 0)
    ),
    $divider-inset-margin: var(--divider-inset-margin, 72px),
    // Ripple
    $ripple-animation-visible-opacity: calc(var(--v-pressed-opacity) * var(--v-theme-overlay-multiplier)),
    // List
    $list-subheader-color:
      var(--list-subheader-color, rgba(var(--v-theme-on-surface), var(--v-medium-emphasis-opacity))),
    $list-item-icon-margin-start: var(--list-item-icon-margin-start, 0px),
    $list-item-icon-margin-end: var(--list-item-icon-margin-end, 0px),
    $list-item-icon-opacity: var(--list-item-icon-opacity, 1),
    $list-item-rounded-border-radius: var(--list-item-rounded-border-radius, $border-radius-root),
    // Bottom Navigation
    $bottom-navigation-icon-font-size: var(--bottom-navigation-icon-font-size, 24px),
    $bottom-navigation-shift-icon-top: 0,
    // Overlay
    $overlay-scrim-background: black,
    // Progress
    $progress-circular-underlay-color: var(--progress-circular-underlay-color, transparent),
    // Tooltip
    $tooltip-background-color: var(--tooltip-background-color, rgb(var(--v-theme-surface-variant))),
    // Toolbar
  );
