@use './dimensions' as *;

:export {
  widthSidebarPrimary: $width-sidebar-primary;
  widthSidebarSecondary: $width-sidebar-secondary;
  widthSidebarTertiary: $width-sidebar-tertiary;
  opacityLevel1Light: $opacity-level1-light;
  opacityLevel1Dark: $opacity-level1-dark;
  opacityLevel1Translucent: $opacity-level1-translucent;
  opacityLevel2Light: $opacity-level2-light;
  opacityLevel2Dark: $opacity-level2-dark;
  opacityLevel2Translucent: $opacity-level2-translucent;
  opacityLevel3Light: $opacity-level3-light;
  opacityLevel3Dark: $opacity-level3-dark;
  opacityLevel3Translucent: $opacity-level3-translucent;
  opacityLevel4Light: $opacity-level4-light;
  opacityLevel4Dark: $opacity-level4-dark;
  opacityLevel4Translucent: $opacity-level4-translucent;
}
