/// @link https://developer.huawei.com/consumer/cn/doc/design-guides-V1/shadow-0000001156978415-V1

@use './colors';

// 应用内层级
$shadow-xs: 0 0 4px rgba(colors.$shadow, 15%);
$shadow-sm: 0 0 20px rgba(colors.$shadow, 8%);
$shadow-md: 0 0 50px rgba(colors.$shadow, 15%);
$shadow-lg: 0 0 50px rgba(colors.$shadow, 30%);

$shadow-window-sm: 0 0 55px rgba(colors.$shadow, 25%);

$shadow-window-md: 0 0 70px rgba(colors.$shadow, 45%);
