/// @link https://m2.material.io/design/color/dark-theme.htm

@mixin overlay-surface($opacity) {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, $opacity);
  }
}

@mixin style {
  .v-theme--dark {
    .bg-surface {
      &.elevation-8 {
        @include overlay-surface(0.9);
      }
      &.elevation-8 {
        @include overlay-surface(0.12);
      }
      &.elevation-24 {
        @include overlay-surface(0.16);
      }
    }
  }
}
