/// @link https://m2.material.io/components/lists

@mixin style {
  .app-list-category {
    border-radius: inherit;
    overflow: hidden;
    border-color: rgba(var(--v-border-color), var(--v-border-opacity));
    border-style: solid;
    border-width: thin;
    padding: 8px 0;
    & + .app-list-category {
      margin-top: 16px;
    }

    /* .v-list-subheader {
      margin-top: -8px;
      color: rgba(var(--v-theme-on-surface), var(--v-medium-emphasis-opacity));
    } */
  }

  .app-category-list {
    padding: 0;
    background-color: transparent;
  }

  .v-list-item {
    /// 根据规格推算出，小图片与文字的上下边距为 16px，部分情况除外
    &--density-default:not(.v-list-item--one-line, .v-list-item--two-line, .v-list-item--three-line) {
      padding-top: 0;
      padding-bottom: 0;

      .v-list-item__prepend,
      .v-list-item__content {
        padding-top: 16px;
        padding-bottom: 16px;
      }
    }

    // vuetify 会添加很多无关的选择器，因此需要重置 .v-list-item__overlay 的透明度为 0
    & > .v-list-item__overlay,
    &[aria-haspopup='menu'][aria-expanded='true'] > .v-list-item__overlay,
    &--active:hover > .v-list-item__overlay,
    &[aria-haspopup='menu'][aria-expanded='true']:hover > .v-list-item__overlay {
      opacity: 0;
    }

    &.v-list-item.v-list-item.v-list-item {
      @supports selector(:focus-visible) {
        &:focus-visible > .v-list-item__overlay {
          opacity: calc(var(--v-focus-opacity) * var(--v-theme-overlay-multiplier));
        }
        &::after {
          content: none;
        }
      }
      @media (hover: hover) {
        &:hover > .v-list-item__overlay {
          opacity: calc(var(--v-hover-opacity) * var(--v-theme-overlay-multiplier));
        }
      }
    }

    // 以下重复的键用于增强选择器特定值，因为上面用于重置的选择器太强了
    &--active-background.v-list-item.v-list-item.v-list-item {
      .v-list-item__prepend {
        opacity: 1;
      }

      & > .v-list-item__overlay {
        opacity: calc(var(--v-activated-opacity) * var(--v-theme-overlay-multiplier));
      }
      &:hover > .v-list-item__overlay {
        opacity: calc((var(--v-hover-opacity) + var(--v-activated-opacity)) * var(--v-theme-overlay-multiplier));
      }
      &:active > .v-list-item__overlay {
        opacity: calc((var(--v-pressed-opacity) + var(--v-activated-opacity)) * var(--v-theme-overlay-multiplier));
      }
    }
  }
}
