.color-warning {
  color: rgb(var(--v-theme-warning));
}

.bg-black {
  background-color: black !important;
  color: white !important;
}

.bg-white {
  background-color: white !important;
  color: black !important;
}

.bg-transparent {
  background-color: transparent !important;
  color: currentcolor !important;
}
