/// @link https://developer.huawei.com/consumer/cn/doc/design-guides-V1/layout-0000001110498552-V1

$margin-base: 24px;
$margin-card: 12px;
$gutter-base: 24px;
$gutter-card: 12px;
$columns-phone: 4;
$columns-fold: 8;
$columns-tablet: 12;
