/// @link https://developer.huawei.com/consumer/cn/doc/design-guides-V1/color-0000001156818443-V1
/// @link https://developer.huawei.com/consumer/cn/doc/design-guides-V1/color-0000001111857246-V1

// 系统色
// 用于图标或文本颜色一般配合透明度叠加使用
$foreground-light: #000;
$foreground-dark: #fff;
$foreground-translucent: #fff;

// 用于 Banner 等图片上的图形或文本颜色
$foreground-contract-light: #fff;
$foreground-contract-dark: #e5e5e5;
$foreground-contract-translucent: #fff;

// 用于界面背景颜色
$background-light: #fff;
$background-dark: #000;
$background-translucent: #fff0;

// 用于带卡片的界面的背景颜色
$background-gray-light: #f1f3f5;
$background-gray-dark: #000;
$background-gray-translucent: #fff0;

// 用于高亮显示的控件颜色
$accent-light: #0a59f7;
$accent-dark: #317af7;
$accent-translucent: #0a59f7;

// 用于Banner等图片上的高亮显示的控件颜色
$accent-contract-light: #317af7;
$accent-contract-dark: #317af7;
$accent-contract-translucent: #317af7;

// 用于警告性提示作用
$warning-light: #e84026;
$warning-dark: #d94838;
$warning-translucent: #e84026;

// 用于警示性提示作用
$alert-light: #ed6f21;
$alert-dark: #db6b42;
$alert-translucent: #ed6f21;

// 用于列表、文本button等的分割线颜色
$separator-light: #0003;
$separator-dark: #fff3;
$separator-translucent: #fff3;

// 系统蒙黑
$scrim-thin-light: #0003;
$scrim-thin-dark: #0006;
$scrim-thin-translucent: #0003;
$scrim-light-light: #0006;
$scrim-light-dark: #0009;
$scrim-light-translucent: #0006;
$scrim-regular-light: #0009;
$scrim-regular-dark: #000000b2;
$scrim-regular-translucent: #0009;
$scrim-thick-light: #000c;
$scrim-thick-dark: #000000e5;
$scrim-thick-translucent: #000c;
$shadow: #00001e;
