/// @link https://developer.huawei.com/consumer/cn/doc/design-guides-V1/property-0000001111593668-V1

// 动效属性
$duration-simple: 100ms;
$duration-complex: 300ms;
$duration-movement-small: 150ms;
$duration-movement-some: 200ms;
$duration-movement-screen: 350ms;

// 动效曲线
$function-standard: cubic-bezier(0.2, 0, 0.1, 1);
$function-standard2: cubic-bezier(0.2, 0, 0.1, 1);
$function-standard3: cubic-bezier(0.33, 0, 0.67, 1);
$function-deceleration: cubic-bezier(0, 0, 0.4, 1);
$function-deceleration2: cubic-bezier(0, 0, 0.2, 1);
$function-deceleration3: cubic-bezier(0, 0, 0, 1);
$function-acceleration: cubic-bezier(0.4, 0, 1, 1);

// 页面过渡
$page-function: cubic-bezier(0.39, 0.58, 0.57, 1);
$page-durning: $duration-movement-screen;
$page-property: transform;
$page-above-offset: 25%;
$page-below-offset: -25%;

// 对话框过渡
$dialog-enter-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
$dialog-leave-function: $function-standard;
$dialog-duration: $duration-movement-some;
$dialog-property: transform, opacity;
$background-duration: 100ms;
